div {
  margin: 20px;
}

input {
  margin-right: 10px;
  background-color: aquamarine;
  color: darkmagenta;
}

button {
  margin-left: 10px;
  background-color: rgb(241, 107, 107);
  color: darkblue;

}

span {
  margin-left: 10px;
}

h1{
  background-color: bisque;
  color: rgb(0, 0, 124);
}