div {
  margin: 20px;
}

input {
  margin-right: 10px;
  background-color: aquamarine;
}

button {
  margin-left: 10px;
  background-color: rgb(241, 107, 107)
}

span {
  margin-left: 10px;
}

h2  {
  color: blue;
}